<div class="d-flex justify-content-center">
  <div class="form-group text-center mt-4">

    <form action="/" method="POST">

      {{#if err}}
      <input type="hidden">
      {{else}}
      <input type="url" class="form-control" name="url" style="width: 360px;" required>
      {{/if}}


      {{#if err}}
      <h4 style="color: red;">{{ err }}</h4>
      <input type="url" class="form-control" id="targetUrl" style="width: 360px;" value="{{ shortUrl }}">
      {{/if}}


      {{#if err}}
      <button class="btn btn-info mt-3" type="button" onclick="copyUrl()">Copy</button>
      {{else}}
      <button class="btn btn-info mt-3" type="submit">Shorten</button>
      {{/if}}

    </form>
  </div>
</div>

<script>
  function copyUrl() {
    const copyUrl = document.querySelector('#targetUrl')
    copyUrl.select()
    document.execCommand('copy')
  }
</script>