<div class="form-group text-center row d-flex justify-content-center mt-4">
  <form action="/" method="POST">

    <div class="col-12">
      {{#if err}}
      <input type="hidden">
      {{else}}
      <input type="url" class="form-control" name="url" required>
      {{/if}}
    </div>

    {{#if err}}
    <div class="col-12">
      <h4 style="color: red;">{{ err }}</h4>
    </div>
    <div class="col-12">
      <input type="url" class="form-control" id="targetUrl" value="{{ shortUrl }}">
    </div>
    {{/if}}

    <div class="col-12">
      {{#if err}}
      <button class="btn btn-info mt-3" onclick="copyUrl()">Copy</button>
      {{else}}
      <button class="btn btn-info mt-3" type="submit">Shorten</button>
      {{/if}}
    </div>

  </form>
</div>

<script>
  function copyUrl() {
    const copyUrl = document.querySelector('#targetUrl')
    copyUrl.select()
    document.execCommand('copy')
  }
</script>