<div class="d-flex justify-content-center">

  <div class="form-group text-center mt-4">

    <h3>Success! Please use this link:</h3>

    <input type="url" class="form-control" id="targetUrl" value="{{ shortUrl }}">

    <button class="btn btn-info mt-3" onclick="copyUrl()">Copy</button>

  </div>

</div>

<script>
  function copyUrl() {
    const copyUrl = document.querySelector('#targetUrl')
    copyUrl.select()
    document.execCommand('copy')
  }
</script>