<div class="form-group text-center row d-flex justify-content-center mt-4">

  <div class="col-12">
    <h3>Success! Please use this link:</h3>
  </div>

  <div class="col-12">
    <h4><a href="{{ shortUrl }}">{{ shortUrl }}</a></h4>
  </div>

  <div class="col-12">
    <input type="url" id="targetUrl" value="{{ shortUrl }}">
  </div>

  <button class="btn btn-info mt-3" onclick="copyUrl()">Copy</button>

</div>

<script>
  function copyUrl() {
    const copyUrl = document.querySelector('#targetUrl')
    copyUrl.select()
    document.execCommand('copy')
  }
</script>